---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Cuong, a medical student at UW Madison. My mission:
      <br />


      <ul> <strong><em> to create a world where every person feels empowered to self-determine!</em></strong></ul>
     

      <!-- My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Solidjs</li>
        <li>Astro</li>
        <li>svelte</li>
        <li>Nodejs</li>
      </ul> -->
    </p>
    <p class="text-sm font-light">
      I pursue this imppossible dream through compassionate patient care, advance research, mentorship, and service...
    </p>
    <p class="text-sm font-light">
      While I chase my goals intensely, I also take time off zoom across the cities on my bike and fry some chicken katsu for my friends.
    </p>
  </div>
</Card>
