---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1 lg:col-span-2" rowSpan="md:row-span-1">
  <div class="flex items-center h-full">
    <p class="text-xs">
      © · Crafted using <a
        href="https://github.com/CPLuu/cpluu.github.io"
        target="_blank"
        class="text-red-500">Astro</a
      >.
    </p>
  </div>
</Card>
