---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1 lg:col-span-3" rowSpan="md:row-span-2">
  <div class="mb-2 w-full">
    <div class="flex justify-between items-center w-full">
      <h2 class="text-lg">Currently Now</h2>
      <Pulse />
    </div>
    <a href="https://sive.rs/nowff" target="_blank">
      <span class="text-xs text-gray-500 cursor-pointer">what's that ?</span>
    </a>
  </div>
  <p class="text-base">Research fellow @ WITNe <br /></p>
  <p class="text-base">Will return to clinical service soon!</p>
</Card>
