---
import { getCurrentTime, formatTime } from "../lib/helpers";
import Card from "./Card/index.astro";
---

<script>
  import { onCleanup, onMount } from "solid-js";
  import { formatTime } from "../lib/helpers";

  let interval: ReturnType<typeof setInterval>;

  function updateClock() {
    const timeDisplay = document.getElementById("timeDisplay");
    const now = new Date();

    if (timeDisplay) {
      timeDisplay.textContent = formatTime(now);
      timeDisplay.setAttribute("datetime", now.toISOString());
    }
  }

  onMount(() => {
    interval = setInterval(updateClock, 1000);
  });

  onCleanup(() => {
    clearInterval(interval);
  });
</script>

<Card colSpan="lg:col-span-5" rowSpan="md:row-span-2" title="Flying on">
  <div class="flex h-[calc(100%-28px)] w-full justify-center items-center">
    <div class="flex flex-col md:flex-row items-center gap-2 md:gap-4">
      <time
        datetime=""
        id="timeDisplay"
        class="text-5xl xl:text-7xl whitespace-nowrap font-sans font-semibold tabular-nums text-center"
      >
        {formatTime(getCurrentTime())}
      </time>
      <span
        class="text-xl xl:text-3xl font-light text-gray-500 whitespace-nowrap"
      >
        Zulu Time
      </span>
    </div>
  </div>
</Card>
